$units : ("1":0.625rem, "2":0.75rem, "3":0.875rem, "4":1rem, "5":1.125rem, "6":1.25rem, "7":1.5rem);

// *Margin
// Margin Top
@each $name, $value in $units{
    mt-#{$name}{
        margin-top:  $value;
    }
}

// Margin Right
@each $name, $value in $units{
    mr-#{$name}{
        margin-right:  $value;
    }
}

// Margin Bottom
@each $name, $value in $units{
    mb-#{$name}{
        margin-bottom:  $value;
    }
}

// Margin Left
@each $name, $value in $units{
    ml-#{$name}{
        margin-left:  $value;
    }
}

// *Padding
// Padding Top
@each $name, $value in $units{
    pt-#{$name}{
        padding-top:  $value;
    }
}

// Padding Right
@each $name, $value in $units{
    pr-#{$name}{
        padding-right:  $value;
    }
}

// Padding Left
@each $name, $value in $units{
    pl-#{$name}{
        padding-left:  $value;
    }
}

// Padding Bottom
@each $name, $value in $units{
    pb-#{$name}{
        padding-bottom:  $value;
    }
}