// Font
$font: "Rubik", sans-serif;

// Font Weights
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;              
    
// Font Sizes
$general-size: 1rem;
$subtitle-size: 0.824rem;

// Font Colors
$defaultText-color: #475579;
$titleText-color: #3e3e3e;
$subtitleText-color: #94a0c1;
$subtitleColor-hover: #5e667e;

// Colors
$primary-color: #901c8c;
$secondary-color: #35109c;
$background-color: #f9fcfe;
$backgroundInside-color: #f7f8fd;
$border-color: #f5f5f5;
$gradient-color: linear-gradient(90deg, #9356d5, #5417d6);
