// *Base
@import 'base/normalize'; // Normalize CSS
@import 'base/typography';

// *Abstracts
@import 'abstracts/variables';

// *Components
@import 'components/buttons';
@import 'components/adsTitle';
@import 'components/careerGuide';
@import 'components/featured-ads';

// *Layouts
@import 'layout/navbar';
// Container
.container{
    margin: 0 120px;
}



// İş Ara
#is-ara{
    width: 100%;
    height: 340px;
    background: $gradient-color;

}